@import "colors";

.portadaTitulo{
	color: white;
	font-size: 250%;
	margin-left: 5%;
	position:absolute;
	z-index: 99;
	align-self: center;
	align-content: center;
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
}

.carousel-item{
	height: 40vh;

	img{
		object-fit: cover;
	}
} 

.carousel-inner{
	width: 1920px !important;
}