@import "colors";

$bodyMargins: (
	0px: 85%,
	576px: 65%,
	768px: 50%,
	992px: 15%,
);

html{
	position: relative;
	min-height: 100%;
}

body{
	margin: 0px;
	padding: 0px; 
	color: black;
	font-family: 'Montserrat', sans-serif;
	background-color: $background;

	@each $width, $margin in $bodyMargins {
		@media (min-width: $width){
			margin-bottom: $margin
			};
		}	
}

ul{
	text-decoration: none;

	li{
		color: black;

		&:hover{
			animation: pulse 1s;
		}

		a{
			color: $text-general;
			padding: 10px;
			border-radius: 5px;

			&:hover{
				background-color: rgba(195, 229, 240,0.5);
			}
		}
	}
}

img{
	max-width: 100%;
}

h1{
	font-weight: bold;
	font-size: xx-large !important;
	display: inline-block;
	justify-self: center !important;
}

h2{
	font-weight: bold;
	text-align: center;
	margin-bottom: 2%;
	margin-top: 2%;
}

h3{
	font-weight: 600;
	font-size: 1.2rem;
}

input, textarea{
	background: none;
}

.navbar{
	background-color: $primary;
	border-bottom: solid white 1px;

	&__logo{
		
		@media (min-width: 992px){
			margin-left: 30px;
			margin-right: 50px;
		}

		&__img{
			max-height: 8vh;
			display: inline-block;
		}
	}

	&__item{
		margin: 5px;

		&__text{
			color: white !important;
			
			&--activo{
				background-color: rgba(195, 229, 240,0.5) !important;
			}
		}
	}
}

.buttonUsers{
	border: 2px solid white;
	border-radius: 5px;
	margin: 5px;
}

.footer{
	background-color: $primary;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	font-size: 90%;
	border-top: 1px solid white;

	&__icon{
		width: 30px;
		height: auto;
		display: inline-block;
		margin: 15px;
	}
}

