@import "colors";

html{
	position: relative;
	min-height: 100%;
}

body{
	margin: 0px;
	padding: 0px; 
	color: black;
	font-family: 'Montserrat', sans-serif;
	@media (max-width: 576px) {
		margin-bottom: 85%;
	}
	@media (min-width: 576px) and (max-width: 992px) {
		margin-bottom: 65%;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		margin-bottom: 50%;
	}
	@media (min-width: 992px) {
		margin-bottom: 15%;
	}
}


ul{
	text-decoration: none;

	li{
		color: black;

		&:hover{
			animation: pulse 1s;
		}

		a{
			color: $text-light;
			padding: 10px;
			border-radius: 5px;

			&:hover{
				background-color: rgba(195, 229, 240,0.5);
			}
		}
	}
}

img{
	max-width: 100%;
}

h1{
	font-weight: 600;
}

h2{
	text-align: center;
	margin-bottom: 2%;
	margin-top: 2%;
}

h3{
	font-weight: 600;
	font-size: 1.2rem;
}

.navbar{
	background-color: $primary;

	&__logo{
		
		@media (min-width: 992px){
			margin-left: 30px;
			margin-right: 50px;
		}

		&__img{
			max-height: 8vh;
			display: inline-block;
		}
	}

	&__item{
		margin: 5px;

		&__text{
			color: white !important;
			
			&--activo{
				background-color: rgba(195, 229, 240,0.5) !important;
			}
		}
	}
}

.buttonUsers{
	border: 2px solid white;
	border-radius: 5px;
	margin: 5px;
}

.footer{
	background-color: $primary;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	font-size: 90%;

	&__icon{
		width: 30px;
		height: auto;
		display: inline-block;
		margin: 15px;
	}
}

