.testimonials-clean {
  background-color:$testimonial-background;

  p{
    color:#7d8285;
  }

  h2{
    font-weight:bold;
    margin-bottom:20px;
    padding-top:40px;

    @media (max-width:767px) {
      .testimonials-clean h2 {
        margin-bottom:25px;
        padding-top:25px;
        font-size:24px;
      }
    }
  }

  .intro{
    font-size:16px;
    max-width:500px;
    margin:0 auto;

    p{
      margin-bottom:0;
    }
  }

  .people{
    padding:20px 0 20px;
  }

  .item{
    margin-bottom:32px;

    @media (min-width:768px) {
        height:220px;
    }

    .box{
      padding:30px;
      background-color:#fff;
      position:relative;
    
      &:after{
        content:'';
        position:absolute;
        left:30px;
        bottom:-24px;
        width:0;
        height:0;
        border:15px solid transparent;
        border-width:12px 15px;
        border-top-color:#fff;
      }
    }

    .author{
      margin-top:28px;
      padding-left:25px;
    }

    .name{
      font-weight:bold;
      margin-bottom:2px;
    }

    .title{
      font-size:13px;
      color:#9da9ae;
    }

    .description{
      font-size:15px;
      margin-bottom:0;
      color: black !important;
    }

    img{
      max-width:40px;
      float:left;
      margin-right:12px;
      margin-top:-5px;
    }
  }
}
